,Example-Proprietary-License,"This software is confidential and proprietary information of ...",https://url.com,,,,My Proprietary License,,,,"My Proprietary Licence, to be adapted",,t,t,t,ffffffffffffffffffffffffffffffff,2,,0,f,1
